Copy code
# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.egg
*.egg-info
__pycache__/
.DS_Store
log*

# Log folder
logs/
output/**
.snakemake/
./DS_Store

# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/*yml
!/*yaml
!/*snake

# Folder to not ignore
!/HotMAPS
